body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color:#ffffff;
    min-height: 1500px;
    min-width: 990px;
}
ul,ol{
    list-style-type: none;
}

.top{
    position: relative;
    width: 100%;
    height: 52px;
    top: 0px;
    left: 0px;
    text-align: center;
    background-color: transparent;
}
.top .top_bg_wrp{
    overflow: hidden;
    position: absolute;
    /*relative会有blaock的特性，无法实现覆盖；*/
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
    box-shadow: 1px 1px 1px 1px #e5e5e5 ;
}
.top_bg_wrp .top_bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 62px;
    z-index: 0;
    background-position: center 0;
    background-image: url("http://i2.hdslb.com/headers/f119744427b69c79260eddb42068e751.jpg");
    /*background-color: cornflowerblue;*/
    background-repeat: no-repeat;
}
.top_bg_wrp .top_bg.blur{
    -webkit-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=5,MakeShadow=false);
}
.top_bg_wrp .bg-blur-mask{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.4);
    z-index: 50;
}
.top .top_container{
    margin: auto;/*居中*/
    height: 100%;
    width: 960px;
    position: relative;
    top: 0;
    z-index: 10000;
}
.top_container .logo{
    float: left;
    margin: 0;
    padding: 0;
    background-color: white;
    height: 100%;
    width: 100px;
}
.top_container .top_nav{
    float: left;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 500px;
    background-color:transparent;
}
.top_nav .v_ulist{
    position: relative;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.v_ulist li {
    float: left;
    height: 100%;
    text-decoration: none;
}

.v_ulist li.t-ul-item{
    text-align: center;
    line-height: 52px;
    color: #ffffff;
}
.v_ulist li.t-ul-item a{
    padding: 0 15px;
    margin: 0;
    display: block;
    /*a标签默认inline  盒元素高度允许溢出，宽度就换行了*/
}
.v_ulist li.t-ul-item.i-home{

}
.v_ulist li.t-ul-item.i-home a.l-home{
    line-height: 72px;
    padding: 0;
    margin: 0;
    background-color: #57abe5;
    height: 72px;
    width: 52px;
    position: relative;
    top: -10px;
    /*margin、height、width什么的都盒元素才可起作用的*/
    border-radius: 6px;
}
.v_ulist li.t-ul-item:active,li.t-ul-item:hover {
    background-color:rgba(255,255,255,0.4);
}

.main{
    width: 1000px;
    margin: 0 auto;
    background-color: #e5e5e5;
    min-height: 960px;
    position: relative;
    top: 20px;
}







