body{
    min-width: 980px;
}
ul,ol{
    list-style-type: none;
}
header{
    width: 100%;
    min-height: 240px;
    position: relative;
    background-image:url("http://i0.hdslb.com/headers/a4b4353cf95aeb8788c3d98c01e055d3.png") ;
    background-repeat: no-repeat;
    background-position: center;
}
header .header-top{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 52px;
    text-align: center;
}
.header-top .top-wrp{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: 1px 1px 1px 1px #e5e5e5;
}
.top-wrp .top-bg-black-blur {
    position: absolute;
    top: -5px;
    width: 100%;
    height: 62px;
    z-index: 10;
    background-color: black;
    /*background-position: center 0;*/
    /*background-image: url("http://i2.hdslb.com/headers/f119744427b69c79260eddb42068e751.jpg");*/
    /*/!*background-color: cornflowerblue;*!/*/
    /*background-repeat: no-repeat;*/
    -webkit-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=5,MakeShadow=false);
}
.top-wrp .top-bg-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.4);
    z-index: 100;
}
.header-top .top-containner{
    width: 980px;
    height: 100%;
    position: relative;
    margin: auto;
    z-index: 10000;
    color: white;
}
.top-containner .site-name{
    float: left;
}
.top-containner .title-brief-introduce{
    float: left;
    display: block;
    padding: 0 10px;
    line-height: 56px;
    text-align: center;
}
.top-containner .top-nav {
    position: relative;
    width: 300px;
    float: right;
}
.top-nav ul.horizon{
    position: relative;
    height: 100%;
    width: 100%;

}
ul.horizon li {
    float: left;
    height: 100%;
    text-decoration: none;
}
.top-nav ul.horizon{
    text-align: center;
    text-decoration: none;
    line-height: 52px;
}
.top-nav ul.horizon li a{
    color: lightgrey;
}
.top-nav ul.horizon li a:visited{
    color: lightgrey;
}

.top-nav ul.horizon li:hover {
    background-color: rgba(255, 255, 255, 0.04);
}

.top-nav ul.horizon li a {
    padding: 0 15px;
    margin: 0;
    display: block;
    /*set padding and margin*/
}